/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  color-scheme: light;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #ffffff;
  --header-cover-img: url(../images/cover-image-light.png);
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
}

.page.theme_light .rec-notice {
  display: none;
}

.page.theme_light .header__theme-menu-button {
  color: var(--text-color);
}

.page.theme_light .faq__title {
  color: var(--text-color);
}

.page.theme_light .title-decor {
  color: var(--text-color);
}

.page.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

.page.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--text-color);
}

.page.theme_light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--text-color);
}

.page.theme_light .bordered::before {
  border-right: 1px solid var(--text-color);
  border-top: 1px solid var(--text-color);
}

.page.theme_light .bordered::after {
  border-left: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --header-cover-img: url(../images/cover-image-light.png);
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
  }

  .header__theme-menu-button {
    color: var(--text-color);
  }

  .rec-notice {
    display: none;
  }

  .faq__title {
    color: var(--text-color);
  }

  .title-decor {
    color: var(--text-color);
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--text-color);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--text-color);
  }

  .bordered::before {
    border-right: 1px solid var(--text-color);
    border-top: 1px solid var(--text-color);
  }

  .bordered::after {
    border-left: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
  }
}
